VITE_SUPABASE_URL=https://tnwmsiaiqihlyamakqho.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRud21zaWFpcWlobHlhbWFrcWhvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM4MDM1NzYsImV4cCI6MjA4OTM3OTU3Nn0.R9cicq_P9nNCeK8qzAj3f8JytzaYBVpDMMLp-s_ErfA
VITE_AUTH_REDIRECT_URL=http://localhost:5173
